<div class="w-full h-screen flex flex-col p-10 gap-10">
  <div class="flex items-center justify-between">
    <div>
      <button class="text-gray-800 rounded" routerLink="/home">
        <x-mark-solid-icon [size]="32"></x-mark-solid-icon>
      </button>
    </div>
    <div>
      <img src="assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-10">
    </div>
  </div>
  <div class="flex-1 flex flex-col justify-between overflow-hidden gap-5">
    <div class="flex flex-col gap-5">
      <span class="text-4xl font-questrial text-neutral-900">Bandeja <br> de Cambio</span>
    </div>

    <div class="flex flex-col gap-5 flex-grow overflow-hidden">
      <ng-container *ngIf="!offers.length">
        <div class="flex flex-col gap-5">
          <span class="text-2xl font-questrial text-neutral-900">No hay trabajos disponibles</span>
        </div>
      </ng-container>

      <div class="relative">
        <img src="assets/icons/search.svg" alt="Buscar" class="absolute left-3 top-1/2 transform -translate-y-1/2">
        <input
          type="text"
          placeholder="Buscar por nombre"
          [(ngModel)]="searchTerm"
          class="w-full pl-10 p-2 border border-gray-300 rounded-3xl"
        />
      </div>

      <div class="flex flex-col gap-2 overflow-y-auto h-130">
        <ng-container *ngFor="let offer of filteredOffers();">
          <ng-container *ngIf="offer.status == 1">
            <div class="flex-1 min-w-[250px] p-5 rounded-2xl border-2 border-gray-200 bg-white">
              <div class="flex items-start gap-4">
                <div class="flex flex-col flex-1">
                  {{offer.name}}
                </div>
              </div>

              <div class="w-full flex flex-wrap gap-4 bg-gray-100 p-2 rounded-lg">
                <div class="flex flex-col w-fit">
                  S/.{{offer.price}}
                </div>

                <div class="flex flex-col w-fit">
                  Pendiente
                </div>
              </div>

              <button (click)="selectOffer(offer.id)" class="w-full bg-gray-200 text-gray-800 py-2 px-4 rounded flex items-center justify-between">
                <span>Ver solicitudes</span>
                <chevron-right-solid-icon [size]="16"></chevron-right-solid-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="bg-gray-200 flex items-center gap-2 mt-6 rounded-2xl">
      <button routerLink="/home" class="bg-gray-200 text-gray-800 py-2 px-2 flex-1 rounded-2xl">Volver</button>
      <button (click)="getOffers()" class="bg-black text-white py-2 px-4 flex-1 rounded-2xl">Refrescar</button>
    </div>
  </div>
  <app-loading-screen *ngIf="loadingForm"></app-loading-screen>
</div>
