<div class="w-full h-screen flex flex-col p-10 gap-10">
  <div class="flex-1 flex flex-col justify-between overflow-hidden gap-5">
    <div class="flex flex-col gap-5">
      <img src="/assets/textures/texture-circle-gradient.png" class="w-full h-full object-contain object-center" alt="circle-gradient"/>
    </div>
    <div class="flex flex-col gap-5 flex-grow overflow-hidden">
      <div class="flex flex-col gap-10">
        <div>
          <p class="text-2xl text-neutral-900">Nunca fue tan fácil <b>dar</b> y <b>buscar</b> ofertas de <b>trabajo</b> con:</p>
        </div>
        <div>
          <img src="/assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-16">
        </div>
      </div>
    </div>
    <div class="flex items-center gap-2 mt-6 bg-gray-200 rounded-2xl">
      <button routerLink="/login" class="bg-black text-white py-2 px-4 rounded flex-1 rounded-2xl">Iniciar sesión</button>
      <button routerLink="/register" class="bg-gray-200 text-gray-800 py-2 px-2 rounded flex-1 rounded-2xl">Crear cuenta</button>
    </div>
  </div>
</div>
