<div class="w-full h-screen flex flex-col p-10 gap-10">
  <div class="flex items-center justify-between">
    <div>
      <button class="b-subtle" routerLink="/login">
        <bars-2-solid-icon [size]="32"></bars-2-solid-icon>
      </button>
    </div>
    <div>
      <img src="assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-10">
    </div>
  </div>
  <div class="flex-1 flex flex-col overflow-y-auto">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-5">
        <span class="text-4xl font-questrial text-neutral-900">¿Qué haremos hoy?</span>
        <span class="text-xl text-neutral-900">Seleccione que quieres hacer en la aplicación</span>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <div class="flex-1">
          <button routerLink="/categories" class="w-full b-max bg-violet-100 border-2 border-violet-200">
            <img src="assets/pictures/pic-ofrecer-trabajo.png" alt="OFRECER">
            <span class="text-base text-neutral-900">Ofrecer trabajo</span>
          </button>
        </div>
        <div class="flex-1">
          <button class="w-full b-max bg-pink-100 border-2 border-pink-200">
            <img src="assets/pictures/pic-buscar-trabajo.png" alt="BUSCAR">
            <span class="text-base text-neutral-900">Buscar trabajo</span>
          </button>
        </div>
      </div>

      <div class="w-full gap-5 flex flex-col">
        <span>Tu oferta...</span>
        <div class="p-5 rounded-2xl border-2 border-green-200 bg-green-100 flex flex-col gap-5">
          <div class="flex items-start gap-4">
            <div>
              <img class="w-10 h-10" src="../../../assets/icons/pintor.png" alt="">
            </div>
            <div class="flex flex-col flex-1">
              <span class="text-xs text-neutral-900 uppercase">Oferta N° 41</span>
              <span class="text-base text-neutral-900">Pintar cuarto de 20m^2 de blanco</span>
            </div>
          </div>
          <div class="w-full flex flex-wrap gap-4 bg-green-200 p-2 rounded-lg">
            <div class="flex flex-col w-fit">
              <span class="text-xs text-neutral-900 uppercase">Plazo</span>
              <span class="text-base text-neutral-900">En 3 días (20/05/2024)</span>
            </div>
            <div class="flex flex-col w-fit">
              <span class="text-xs text-neutral-900 uppercase">Estado</span>
              <span class="text-base text-neutral-900">Pendiente</span>
            </div>
          </div>
          <button class="w-full b-subtle">
            <span>Ver solicitudes</span>
            <chevron-right-solid-icon [size]="16"></chevron-right-solid-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
