<div class="w-full h-screen flex flex-col p-10 gap-10">
  <div class="flex items-center justify-between">
    <div>
      <button class="text-gray-800 rounded" routerLink="/query-work">
        <arrow-left-solid-icon [size]="32"></arrow-left-solid-icon>
      </button>
    </div>
    <div>
      <img src="assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-10">
    </div>
  </div>

  <div class="flex-1 flex flex-col justify-between overflow-hidden gap-5">
    <div class="flex flex-col gap-5">
      <span class="text-4xl font-questrial text-neutral-900">Detalle</span>
    </div>

    <div class="flex flex-col gap-5 flex-grow overflow-hidden">
      <div class="gap-5 grid grid-cols-2">
        <div class="flex items-center gap-2 col-span-2">
          <span class="text-3xl font-questrial text-neutral-900 font-bold">{{offer?.name}}</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-3xl font-questrial text-neutral-900 font-bold">S/. {{offer?.price}}</span>
        </div>
        <div class="col-span-2 flex items-center gap-2">
          <span class="text-2xl font-questrial text-neutral-900">
            {{offer?.description}}
          </span>
        </div>
        <div class="w-full flex flex-col gap-1 col-span-2">
          <span>Imágenes de referencia</span>
          <div class="w-full flex flex-wrap items-center justify-center mt-4">

            <ng-container *ngIf="imagesOffer.length > 0">
              <div *ngFor="let preview of imagesOffer; let i = index" class="relative mx-2 my-2">
                <div class="relative inline-block">
                  <img
                    [src]="'data:' + preview.file_extension + ';base64,' + preview.image"
                    alt="Vista previa de imagen"
                    width="150"
                    height="150"
                    class="object-contain h-32 w-32 rounded"
                    (click)="openModal(i)"
                  />
                </div>
              </div>
            </ng-container>

            <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" (click)="closeModal()">
              <div class="bg-white p-4 rounded-lg" (click)="$event.stopPropagation()">
                <button class="absolute top-2 right-2 text-gray-600" (click)="closeModal()">X</button>
                <div *ngIf="imagesOffer[selectedIndex].file_name != ''" class="flex justify-center">
                  <img [src]="'data:' + imagesOffer[selectedIndex].file_extension + ';base64,' + imagesOffer[selectedIndex].image" alt="Imagen grande" class="max-w-full max-h-screen"/>
                </div>
                <div class="flex justify-between mt-4">
                  <button (click)="prevImage()" class="bg-gray-200 text-gray-800 py-2 px-4 rounded">Anterior</button>
                  <button (click)="nextImage()" class="bg-gray-200 text-gray-800 py-2 px-4 rounded">Siguiente</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-200 flex items-center gap-2 mt-6 rounded-2xl">
      <button routerLink="/query-work" class="bg-gray-200 text-gray-800 py-2 px-2 rounded-2xl flex-1">Volver</button>
      <button (click)="onSendRequest()" class="bg-black text-white py-2 px-4 rounded-2xl flex-1">Aceptar</button>
    </div>
  </div>
  <app-loading-screen *ngIf="loadingForm"></app-loading-screen>

  <div *ngIf="isErrorModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded shadow-lg">
      <h2 class="text-xl font-bold mb-4">Error</h2>
      <p>{{ errorMessage }}</p>
      <button (click)="closeErrorModal()" class="mt-4 bg-red-500 text-white py-2 px-4 rounded">Cerrar</button>
    </div>
    <div class="fixed inset-0 bg-black opacity-50"></div>
  </div>

</div>
