<div class="w-full h-screen flex flex-col p-10 gap-10">
  <div class="flex items-center justify-between">
    <div>
      <button class="text-gray-800 rounded" routerLink="/query-work">
        <arrow-left-solid-icon [size]="32"></arrow-left-solid-icon>
      </button>
    </div>
    <div>
      <img src="assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-10">
    </div>
  </div>

  <div class="flex-1 flex flex-col justify-between overflow-hidden gap-5">

    <div *ngIf="!isButtonDisabled" class="w-full flex flex-col gap-1 col-span-2 text-red-600">
      <span class="text-right">¡Esta oferta fue creada por ti!</span>
    </div>

    <div class="flex flex-col gap-5 flex-grow overflow-hidden">
      <div class="gap-5 grid">

        <div class="flex items-center gap-2 col-span-2">
          <span class="text-3xl font-questrial text-neutral-900 font-bold">{{offer?.name}}</span>
        </div>

        <div class="w-full col-span-2 p-4 border rounded-2xl shadow-md bg-gray-50 flex-grow flex flex-col gap-2">
          <div class="w-full flex">
            <span class="text-2xl font-questrial text-neutral-900">Detalles</span>
          </div>

          <div class="w-full flex gap-2">
            <span class="text-3xl font-questrial text-neutral-900 font-bold">S/ {{offer?.price}}</span>
          </div>

          <div class="w-full flex gap-2">
            <span class="text-1xl font-questrial text-neutral-900">
              {{offer?.description}}
            </span>
          </div>
        </div>

        <div class="w-full flex flex-col gap-4 col-span-2 flex-grow">
          <span class="text-lg font-semibold text-neutral-800">Imágenes de referencia</span>

          <div class="w-full grid grid-cols-2 gap-4 mt-2 flex-grow">
            <ng-container *ngIf="imagesOffer.length > 0">
              <div *ngFor="let preview of imagesOffer; let i = index" class="relative group">
                <img
                  [src]="'data:' + preview.file_extension + ';base64,' + preview.image"
                  alt="Vista previa de imagen"
                  class="object-cover w-full h-32 rounded-lg shadow-lg cursor-pointer transition-transform duration-200 ease-in-out"
                  (click)="openModal(i)"
                />
                <div (click)="openModal(i)" class="absolute inset-0 bg-black bg-opacity-60 rounded-lg opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-200 ease-in-out">
                  <span class="text-white text-sm font-semibold">Ampliar</span>
                </div>
              </div>
            </ng-container>
          </div>

          <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50" (click)="onBackgroundClick($event)">
            <div class="relative bg-white p-6 rounded-lg shadow-lg max-w-3xl w-full">
              <button (click)="closeModal()"
                      class="absolute top-1 right-1 w-6 h-6 text-white rounded-full flex items-center justify-center align-middle bg-gray-700">
                <x-mark-solid-icon [size]="16"></x-mark-solid-icon>
              </button>
              <div *ngIf="imagesOffer[selectedIndex].file_name != ''" class="flex justify-center">
                <img
                  [src]="'data:' + imagesOffer[selectedIndex].file_extension + ';base64,' + imagesOffer[selectedIndex].image"
                  alt="Imagen grande"
                  class="object-contain max-w-full max-h-[80vh] rounded-lg"
                />
              </div>

              <div class="flex justify-between mt-4">
                <button (click)="prevImage()" class="bg-gray-200 text-gray-800 py-2 px-4 rounded-lg hover:bg-gray-300">Anterior</button>
                <button (click)="nextImage()" class="bg-gray-200 text-gray-800 py-2 px-4 rounded-lg hover:bg-gray-300">Siguiente</button>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
    <div class="bg-gray-200 flex items-center gap-2 mt-6 rounded-2xl">
      <button routerLink="/query-work" class="bg-gray-200 text-gray-800 py-2 px-2 rounded-2xl flex-1">Volver</button>
      <button *ngIf="isButtonDisabled" (click)="onSendRequest()"
              class="bg-black text-white py-2 px-4 rounded-2xl flex-1">Aceptar
      </button>
    </div>
  </div>
  <app-loading-screen *ngIf="loadingForm"></app-loading-screen>

  <div *ngIf="isErrorModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded shadow-lg">
      <h2 class="text-xl font-bold mb-4">Error</h2>
      <p>{{ errorMessage }}</p>
      <button (click)="closeErrorModal()" class="mt-4 bg-red-500 text-white py-2 px-4 rounded">Cerrar</button>
    </div>
    <div class="fixed inset-0 bg-black opacity-50"></div>
  </div>

</div>
